<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Welcome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div id="wrap-everything">
    <p></p>
    <div class="registration-page" style="margin-top: 30px">


        <!-- ______________________________________________________________________-->
        <form accept-charset="UTF-8" class="registration-form onlyForm" method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <p>Enter Users Username</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" class="form-control"
                           name="username" placeholder=""/>
                </div>
            </div>
            <input type='hidden' name="user_id" th:value="${user.Id}"/>

        </div>
            <div class="row">
                <div class="row">
                    <div style="margin-bottom: 15px" class="col-md-12 text-center">
                        <button style="background-color: #8A2BE2; color: white; width: 35%;
                                           padding-bottom: 10px; padding-top: 10px; font-size: 18px;
                                            border-radius: 9px; border-color: #8A2BE2"
                               action="" class="button secondary radius expand">Create Bank Account for User</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>